details
{
  padding-top: 20px;
  height: 20%;
}

details summary
{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

details pre
{
  font-size: 130%;
}

#indent
{
  margin-left: 10px;
}

#background
{
  margin: auto;
  width: max-content;
  background-color: white;
  font-family: courier;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

#codefont
{
  font-family: courier;
  font-size: inherit;
}

#normalfont
{
  font-family: proxima-nova
}

keyword
{
  font-family: courier;
  font-size: inherit;
  color: blue;
  font-weight: bold;
}

class
{
  font-family: courier;
  font-size: inherit;
  color: green;
}

interface
{
  font-family: courier;
  font-size: inherit;
  color: #66ffff;
}

string
{
  color:orange;
}

comment
{
  font-family: courier;
  font-size: inherit;
  color:green;
}

summary:hover
{
  font-weight: bold;
}

#codedetails
{
  padding: 0;
  outline-style: solid;
  outline-width: 1px;
  outline-color: gray;
  background-color: #c9c9c9;
  font-size: inherit;
}

#codesummary
{
  outline-style: dashed;
  outline-width: 0.5px;
  outline-color: gray;
  font-size: 16px;
}

enum
{
  font-family: courier;
  font-size: inherit;
  color: #c542f4;
}

number
{
  font-family: courier;
  font-size: inherit;
  color: #00e1ff;
}